.movies__movie {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.movies__img {
    width: 100%;
    max-height: 201px;
    object-fit: cover;
    border-radius: 6px;
    cursor: pointer;
}

.movies__info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    padding: 14px 14px 0;
}

.movies__name {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.23;
}

.movies__duration {
    font-size: 11px;
    line-height: 0.9;
    color: rgba(160, 160, 160, 1);
    padding: 3px 4px;
    border-radius: 3px;
    background: rgba(249, 249, 249, 1);
    text-align: center;
}

.movies__save,
.movies__delete {
    cursor: pointer;
    top: 14px;
    right: 14px;
    height: 21px;
}

.movies__save {
    position: absolute;
    width: 72px;
    border-radius: 48px;
    background-color: white;
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 10px;
    line-height: 0.9;
    border: none;
}

.movies__delete {
    position: absolute;
    width: 21px;
    border-radius: 30px;
    border: none;
    background-color: rgba(255, 64, 98, 1);
}

.movies__delete::before {
    content: "";
    width: 8px;
    height: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    background-image: url("../../assets/images/saved-icon.svg");
    transition: 0.15s linear;
}

.movies__delete:hover {
    background-color: rgba(249, 249, 249, 1);
}

.movies__delete:hover::before {
    background-image: url("../../assets/images/delete-icon.svg");
}

@media screen and (max-width: 850px) {
    .movies__img {
        max-height: 190px;
    }

    .movies__info {
        padding: 25px 0 0;
    }
}

@media screen and (max-width: 550px) {
    .movies__img {
        max-height: calc(16800vw / 320);
    }

    .movies__info {
        padding-top: 16px;
    }

    .movies__name {
        font-size: 12px;
        line-height: 1.25;
    }

    .movies__save,
    .movies__delete {
        top: 10px;
        right: 10px;
    }
}
