.not-found__title {
    font-weight: 400;
    font-size: 140px;
    line-height: 1.21;
    text-align: center;
    margin: 246px auto 5px;
}

.not-found__subtitle {
    display: block;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin: 0 auto;
}

.not-found__back {
    display: block;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    margin: 0 auto;
    margin-top: 184px;
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 850px) {

    .not-found__title {
        margin-top: 408px;
    }

}

@media screen and (max-width: 550px) {

    .not-found__title {
        margin-top: 329px;
        margin-bottom: 10px;
        font-size: 80px;
    }

    .not-found__subtitle,
    .not-found__back {
        font-size: 12px;
        line-height: 1.25;
    }

    .not-found__back {
        margin-top: 284px;
    }
}